*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
header{
    height: 60px;
    width: 100%;
    /* background-color: rgb(216, 213, 209); */
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo-section{
    width: 160px;
    height: 55px;
    background-color: aqua;
    margin-left: 10px;
    background-image: url("pradalogo.jpeg");
    background-size: cover;
    background-position: center;
    
}
.collection-section{
    width: 75%;
    height: auto;
}
.item-list ul{
display: flex;
list-style: none;
}
.item-list a{
    text-decoration: none;
    color: black;
   

}
.item-list li{
    margin-right: 15px;
}
.item-list p{
    font-size: .8rem;
    font-weight: 1000;
    

}

.search-section{
    
    width: 50px;
   line-height: 50px;
}

.main-container{
    width: 100vw;
    height: 120vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin: 15px;

}
.vdo-container{
    width: 97vw;
    height: 118vh;
    background-color: rgb(32, 33, 33);
    position: relative;
    
 
}
.vdo-container video{
    object-fit: cover;
}
.write-up{
    position: absolute;
    top: 10px;
    left: 10px;
    margin-left: 20px;
    color: white;
   
    
}
.write-up h1{
    padding-bottom: 8px;
}

.link-tag{
    color: white;
    text-decoration: none;
    height: 100%;
    
    
}
.discover{
    position: absolute;
    height: auto;
    top: 80px;
    left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
    transition: background-color 1s ease;
}
.discover:hover{
    background-color: white;
    
}
.discover a:hover{
    color: black;
}


.image-container{
    display: flex;
}
.left-section{
    width: 48%;
    height: 100%;
    background-image: url("sumerbag.avif");
    background-size: cover;
    margin-right: 15px;
}
.right-section{
    width: 48%;
    height: 100%;
    background-image: url("mensbag.avif");
    background-size: cover;
    margin-right: 15px;
}
.inside-image{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inside-head{
    font-size: 20px;
    color: white;
    margin: 20px 0;
}
.inside-arrow{
    float: right;
    color: white;
    font-size: 25px;
    font-weight: bold;
   
}
.inside-arrow i{
    margin-left: 25px;
    
}
.inside-disc{
    margin-top: 40px;
    font-size: 1rem;
    width: 90px;
    letter-spacing: .6px;
    color: white;
    border-bottom: 1px solid white;
    

}
.side-head{
    position: absolute;
    left: -10%;
    top: 40%;
    /* left: 0; */
    color: white;
    font-size: 1.4rem;
    transform: rotate(-90deg);
    margin-right: 100px;
}
.bottom-container{
    width: 100%;
    height: 110vh;
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom-wrapper{
    background-color: rgb(36, 35, 35);
    width: 97vw;
    height: 100%;
    position: relative;
}
.footer-top{
    width: 100%;
    height: 45vh;
   display: flex;
    justify-content: center;
    align-items: center;

}
.footer-container{
    width: 97vw;
    height: 80%;
    /* background-color: blanchedalmond; */
    display: flex;

}
.ul-container{
    width: 20%;
    height: 90%;
    margin-right: 150px;
}
.follow-tags{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
   padding-top: 50px;
    
}
.li-container{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.li-container li{
    list-style: none;
    margin-bottom: 10px;
    font-size: .85rem;
    letter-spacing: .5px;
}
.footer-bottom{
    width: 100%;
    
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: space-between;
    padding: 20px;

}
.left-bottom{
    font-size: 10px;
}
.right-bottom{
    
    display: flex;
    justify-content: space-between;

}
.left-right,.right-right{
    height: 100%;
    padding-left: 15px;
    display: flex;
    padding-right: 20px;
    border-left: 1px solid black;
    font-size: 12px;
    font-weight: bold;
}
